<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ligeng.mapper.outcome.OutcomeMapper" >
    <update id="addOutcome">
        UPDATE outcome SET money = money + 100 WHERE id = 1;
    </update>

</mapper>